.App {
  background: linear-gradient(to right bottom, #111C26, #522727) fixed;
  text-align: center;
}

.App-header {
  background-image: url(./stars1.svg), url(./stars2.svg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cover-ship {
  z-index: 0;
  position: absolute;
  bottom: 0px;
  animation: floating 2s ease-in-out 0s infinite alternate;
}

@keyframes floating {
  0% {bottom: 400px;}
  100% {bottom: 430px;}
} 