.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  background-size: 36.588px 300px; */
}

.splash-ship {
  margin-bottom: 40px;
}

.App-header {
  background: linear-gradient(to right bottom, #111C26, #302226) fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
