.phaser-div {
    background: linear-gradient(to left bottom, #111C26, #522727) fixed;
    height: 100vmin;
}

#phaser-game {
    display: flex;
    justify-content: center;
}

#phaser-game canvas {
    margin-top: 25px;
}
